.App {
  text-align: center;
}
.App-logo-react{
  animation: App-logo-spin infinite 20s linear;
}
.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: black;
  height: 50vh;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-footer {
  background-color: white;
  height: auto;
  padding: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligner_item{
  max-width: 50%;
}

.App-title {
  font-size: 1.5em;
}
.App-logo-opt{
  width: 200px;
  margin: 0 auto;
}
.App-intro {
  font-size: large;
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_left{
  text-align: left;
}
ul.text_left li{
  margin-bottom: 5px;
}
.pre1{border:1px solid #ccc;padding:20px;margin:12px 0 10px;font-size:0,7em;
  color: white; background: black; text-align: left}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
